---
# BasedOnStyle:  WebKit
AlignEscapedNewlinesLeft: false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
BinPackParameters: true
ColumnLimit:     79
DerivePointerBinding: false
ExperimentalAutoDetectBinPacking: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 60
PenaltyBreakString: 1000
PenaltyBreakFirstLessLess: 120
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
Standard:        Cpp03
IndentWidth:     4
TabWidth:        4
UseTab:          ForIndentation
BreakBeforeBraces: Stroustrup
IndentFunctionDeclarationAfterType: false
SpacesInParentheses: false
SpacesInAngles:  true
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: false
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 4
...

